<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <logger name="ru.clevertec.newsservice.service" level="debug"/>

    <logger name="ru.clevertec.newsservice.configuration" level="info"/>

    <logger name="ru.clevertec.newsservice.exception" level="debug"/>

    <logger name="ru.clevertec.newsservice.cache" level="error"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>